<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
	    <span><%= config.author || config.title %> &copy; 2016-<%= date(new Date(), 'YYYY') %></span>
            <span>|</span>
            <span><a href="http://www.miitbeian.gov.cn" target="_blank">浙ICP备16041302号</a></span>
        </div>
    </div>
</footer>